html {
  background-color: black;
  overflow: hidden;
}

#container-88a90ea091352aa053146bbce383549c {
  max-width:400px;
  margin-left:auto;
}

#game:hover #emu-menu {
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 10s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 10s;
}
@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}

#emu-menu{
  position: absolute;
  font-weight: bold;
  background-color: #ad3a2b;
  border-left: 4px  solid #ad3a2b;
  border-right: 4px  solid #ad3a2b;
  border-top: 1px  solid #ad3a2b;
  border-bottom: 1px  solid #ad3a2b;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  left: 1ch;
  top: 7.2ch;
  color: black;
  font-family: arial;
  font-size: 2ch;
}

canvas {
  border: none;
  outline: none;
  margin-left: -8px;
  margin-top: -8px;
}

#menu {
  visibility: visible;
  position: fixed;
  left: 0;
  top: 0;
  width: 0vw;
  height: 0vh;
}
.inactive {
  opacity: 0;
}


.page-container {
  height: auto;
}

.games-list {
  position:fixed;
  top: 0px;
  right: 0px;
  height: 100vh;
}

#tlt1 {
   color: #ad3a2b;
    text-align: center; 
    font-family: verdana,geneva,sans-serif;
    font-size: 100%;
}

#azlist {
display: none;
position: relative;
z-index: 99;
text-align: left;
margin-left: auto;
margin-right: 0px;
margin-bottom: 0px;
width: 56vh;
height: 92vh;
overflow-y: auto;
overflow-x: hidden;
font-size: 150%;
line-height: 1.6;
color: #ffffff;
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
  #azlist {
    width: 90vh!important;
    background: black!important;
    height: 83vh!important;
    font-size: 100%;
  }
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) {
  #azlist {
    width: 47vh!important;
    height: 79vh!important;
  }
}


::-webkit-scrollbar {
  width: 2vh!important; 
}

::-webkit-scrollbar-track{
border: 1px  solid #ad3a2b!important; 
}

::-webkit-scrollbar-track {
  background: black; 
}
 
  
::-webkit-scrollbar-thumb {
  background: #ad3a2b!important; 
}

::-webkit-scrollbar-thumb:hover {
  background: black!important;
border: 1px  solid #ad3a2b!important;
}

select {border-color: #ad3a2b;}
option {color: #cccccc;}
option {border-color: #ad3a2b;}
p[style]{color: #cccccc;}

#azlist > a{ text-align: left; font-family: verdana,geneva,sans-serif;display: block;}
#azlist a:link {text-decoration: none!important;}
#azlist a:link {color: #cccccc;}
#azlist a:link {border: 1px  solid transparent!important;}
#azlist a:visited {color: #ad3a2b!important;}
#azlist a:visited {border: 1px  solid transparent!important;}
#azlist a:hover {background-color: #ad3a2b!important;}
#azlist a:hover {color: #ffffff!important;}
#azlist a:hover {border: 1px  solid black!important;}
#azlist a:active {background-color: black!important;}
#azlist a:active {color: #ad3a2b!important;}
#azlist a:active {border: 1px  solid #ad3a2b!important;}

#descr {
 display: none;
}

.artwork {
  width: auto;
}

.hidden {
  visibility: hidden;
}

.menu-wrap {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu-img {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vh;
}

#background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#corner {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50vh;
}

#game {
  text-align: center;
  color: white;
}

#startEmu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: transparent;
  cursor: pointer;
  font-size: 5vw;
  border: 3px solid;
  border-radius: 1vw;
  padding: 1vw;
}

.file-button {
  position: absolute;
  cursor: pointer;
  border: none;
  z-index: 999999;
}

.file-button-mobile {
  position: absolute;
  cursor: pointer;
  border: none;
  z-index: 999999;
}

.full-main {
  position: absolute;
  cursor: pointer;
  border: none;
  z-index: 999999;
}

.full-main-mobile {
  position: absolute;
  cursor: pointer;
  border: none;
  z-index: 999999;
}

.file-brows {
  position: absolute;
  cursor: pointer;
  border: none;
  z-index: 999999;
}

.az-list {
  position: absolute;
  cursor: pointer;
  border: none;
  z-index: 999999;
}

.menu-search {
  position: absolute;
  cursor: pointer;
  border: none;
  z-index: 999999;
}

#console-list {
  display: none;
}

@media(hover: hover) { #menu > a:nth-child(1) > img {  width: 6ch; left: 1ch; top: 8ch;} }

@media(hover: hover) { #menu > img.file-button {  width: 6ch; left: 1ch; top: 8ch;} }

@media(hover: hover) { #menu > img.full-main {  width: 6ch; left: 1ch; top: 1ch;} }

@media(hover: hover) { img.file-brows {  width: 6ch; left: 1ch; top: 15ch;} }

@media(hover: hover) { img.az-list {  width: 6ch; left: 1ch; top: 22ch;} }

@media(hover: hover) { #menu > img.menu-search {  width: 6ch; left: 1ch; top: 22ch;} }

@media(hover: hover) { #menu > img.file-button-mobile {  width: 6ch; left: 1ch; top: 1ch;} }

@media(hover: hover) { #menu > img.full-main-mobile {  width: 6ch; left: 8ch; top: 1ch;} }


@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) { #menu > img.file-button {  width: 4ch; right: 1ch; top: 6ch;} }
@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) { #menu > img.file-button {  width: 4ch; left: 1ch; top: 6ch;} }

@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) { #bgvid {  display: none;} }
@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) { #bgvid {  display: block;} }


@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) { #menu > img.full-main {  width: 4ch; right: 1ch; top: 1ch;} }
@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) { #menu > img.full-main {  width: 4ch; left: 1ch; top: 1ch;} }
@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) { #menu > img.file-button {  width: 4ch; right: 1ch; top: 1ch;} }
@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) { #menu > img.file-button {  width: 4ch; left: 6ch; top: 6ch;} }


@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) { #menu > a:nth-child(1) > img {  width: 4ch; right: 1ch; top: 6ch;} }
@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) { #menu > a:nth-child(1) > img {  width: 4ch; left: 1ch; top: 6ch;} }
@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) { #menu > img.file-button-mobile {  width: 4ch; right: 1ch; top: 1ch;} }
@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) { #menu > img.file-button-mobile {  width: 4ch; right: 1ch; top: 1ch;} }


@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) { #menu > img.full-main-mobile {  width: 4ch; right: 6ch; top: 1ch;} }
@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) { #menu > img.full-main-mobile {  width: 4ch; right: 6ch; top: 1ch;} }
@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) { #menu > img.file-button-mobile {  width: 4ch; right: 1ch; top: 1ch;} }
@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) { #menu > img.file-button-mobile {  width: 4ch; right: 1ch; top: 1ch;} }

@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) { #emu-menu {  display: none;} }
@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) { #emu-menu {  display: none;} }

@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) { #menu { width: 100vw;} }
@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) { #menu {  width: 100vw;} }

@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) { img.file-brows {  width: 4ch; left: 1ch; top: 1ch;} }
@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) { img.file-brows {  width: 4ch; left: 1ch; top: 11ch;} }

@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) { img.az-list {  width: 4ch; left: 1ch; top: 6ch;} }
@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) { img.az-list {  width: 4ch; left: 1ch; top: 16ch;} }

@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) { img.menu-search {  width: 4ch; left: 1ch; top: 6ch;} }
@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) { img.menu-search {  width: 4ch; left: 1ch; top: 16ch;} }


@keyframes growonce {
  0% {
    transform: scale(.5,.5) translate(15vw,0);
  }
  100% {
    transform: scale(1.0,1.0) translate(0,0);
  }
}

.grow {
  animation: growonce .3s forwards;
}

.shrink {
  transform: scale(.5,.5) translate(15vw,0);
}

@keyframes growonce-mobile {
  0% {
    transform: scale(.5,.5);
  }
  100% {
    transform: scale(1.0,1.0);
  }
}

.grow-mobile {
  animation: growonce-mobile .3s forwards;
}

.shrink-mobile {
  transform: scale(.5,.5);
}



@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) {
  #___gcse_0 {
    max-width: 100vw;
    margin-top:12vh;
  }
}
@media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
  #___gcse_0 {
    max-width: 100vh!important;
  }
}


#___gcse_0
{
    position: relative;
    z-index: 99999;
    max-width:50vh;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.gs-previewTitle a:hover {color: #ad3a2b!important;}

.gs-previewTitle a:visited {color: #ad3a2b!important;}

.gs-previewTitle a:active {color: #ad3a2b!important;}

.gs-previewTitle a:link {color: #ad3a2b!important;}

.gs-previewTitle a:visited {color: #ad3a2b!important;}

.gs-previewTitle a:active {color: #ad3a2b!important;}

.gs-previewTitle
{
color: #ad3a2b!important;
}

.gsc-input-box {
padding-top: 0px!important;
padding-bottom: 0px!important;
border-top-left-radius: 0px!important;
border-bottom-left-radius: 0px!important;
}

.gsc-modal-background-image
{
background-color: transparent!important;
}

.gsc-search-button-v2
{
background-color: #ad3a2b!important;
border: 0px solid #ad3a2b!important;
border-color: #ad3a2b!important;
padding: 10px 27px!important;
border-radius: 0px!important;
height: 32px;
}
.gsc-control-cse
{
height: 35px!important; 
margin-top: -5px!important; 
background-color: transparent!important; 
border: 0px!important; 
padding: 10px!important;
}